.navbar-brand > img {
    width: auto;
    height: 40px;
}

.navbar-form {
    height: 70px;
    vertical-align: middle;
}

/*.navbar-form  > .form-group,*/
/*.navbar-form button{*/
/*margin-top: 10px;*/
/*}*/

.navbar-form > .form-control {
    width: 80%;
}

.navbar-form input {
    float: left;
}